{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  name = "Robbie Ostrow"
  codespaces = {{ $codespaces }}
{{- if not stdinIsATTY }}{{/* Codespaces dotfiles setup is non-interactive, so set an email address */}}
  email = "ostrowr@gmail.com"
{{- else }}{{/* Interactive setup, so prompt for an email address */}}
  email = "{{ promptString "email" }}"
{{- end }}
