# antigen setup
source {{ .chezmoi.homeDir }}/.antigen.zsh
antigen init {{ .chezmoi.homeDir }}/.antigenrc

# Don't autoupdate zsh; chezmoi will update plugins for us
DISABLE_AUTO_UPDATE="true"

# display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
DISABLE_UNTRACKED_FILES_DIRTY="true"

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='emacs'
else
  export EDITOR='code --wait'
fi

# ssh
export SSH_KEY_PATH="~/.ssh/id_rsa"

alias emacs="emacs -nw"

# Git & GitHub aliases
alias gmom='git fetch origin master && git merge origin/master'
alias gprv='gh pr view -w'
alias gprc='gh pr create -w'
alias gcam='git commit -a --amend'
alias gco='git checkout'
alias gcb='git checkout -b'
alias gcm='git commit -m'
alias gca='git commit -a -m'
alias gst='git status -sb'
alias glg='git log --oneline --graph --decorate -20'
alias gd='git diff'
alias gds='git diff --staged'
alias gaa='git add --all'
alias gpo='git push origin'
alias gpom='git push origin master'
alias gpf='git push --force-with-lease'
alias gpl='git pull --rebase'
alias gundo='git reset --soft HEAD^'
alias gclean='git clean -fd'
alias gprl='gh pr list'
alias gprd='gh pr diff'
gcbpr() { git checkout "$(gh pr view --json headRefName -q .headRefName)"; }
alias gsync='git fetch --all --prune'
alias gundo-merge='git reset --merge ORIG_HEAD'
alias gbranch-size='git rev-list --left-right --count origin/HEAD...HEAD'
alias gtop='cd "$(git rev-parse --show-toplevel)"'
alias gs='git status -uno'

# browse the current branch in github
alias browse='gh browse -b $(git rev-parse --abbrev-ref HEAD)'

# Source z
# . /usr/local/etc/profile.d/z.sh

# Update path
export GOPATH=$HOME/go
export PATH=$GOPATH/bin:$PATH
export PATH="/usr/local/bin:$PATH"
export PATH="/usr/local/sbin:$PATH"
export PATH="$HOME/bin:$PATH"

{{ if eq .chezmoi.os "linux" -}}
export PATH="/usr/games:$PATH"
{{ else if eq .chezmoi.os "darwin" -}}
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{ end -}}

# friendly message to start the session
fortune | cowsay

eval "$(starship init zsh)"
