#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
sudo apt-get update
sudo DEBIAN_FRONTEND=noninteractive apt-get -y install \
  cowsay \
  fortune \
  fzf \
  python3-dev \
  python3-pip \
  python3-setuptools

pip3 install thefuck --user

{{ else if eq .chezmoi.os "darwin" -}}
# Install homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Install useful brew packages
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
brew "asciinema"
brew "chezmoi"
brew "cowsay"
brew "emacs"
brew "fortune"
brew "fzf"
brew "gh"
brew "git"
brew "gnupg"
brew "go"
brew "htop"
brew "jq"
brew "python@3.11"
brew "starship"
brew "thefuck"
brew "tldr"
brew "tmux"
brew "todo-txt"
brew "tree"
brew "watch"
brew "z"
cask "1password"
cask "amethyst"
cask "font-meslo-lg-nerd-font"
cask "visual-studio-code"
cask "warp"
EOF

# Install completion for fzf
$(brew --prefix)/opt/fzf/install --all
{{ end -}}

