#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
sudo apt-get update
sudo DEBIAN_FRONTEND=noninteractive apt-get -y install \
  cowsay \
  fortune \
  fzf \
  python3-dev \
  python3-pip \
  python3-setuptools

pip3 install thefuck --user

{{ else if eq .chezmoi.os "darwin" -}}
# Install homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Install useful brew packages
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "cowsay"
brew "fortune"
brew "fzf"
brew "gh"
brew "git"
brew "go"
brew "htop"
brew "jq"
brew "thefuck"
brew "tmux"
brew "todo-txt"
EOF

# Install completion for fzf
$(brew --prefix)/opt/fzf/install --all
{{ end -}}
