#!/bin/sh

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ if eq .chezmoi.os "linux" -}}
sudo apt install ripgrep
{{ else if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "cowsay"
brew "fortune"
brew "fzf"
brew "git"
EOF
{{ end -}}
